.footer.container
  .row
    .footer__column.col-md-12.col-lg-4
      .footer__card
        %h4
          Shortcuts
        %ul
          %li
            %a{:href => 'https://gitlab.com/jacob-dawid/foss.buzz', :target => '_blank'}
              Log in
          %li
            %a{:href => 'http://www.gnu.org/licenses/', :target => '_blank'}
              Sign up
          %li
            %a{:href => 'http://www.gnu.org/licenses/', :target => '_blank'}
              View all projects

    .footer__column.col-md-12.col-lg-4
      .footer__card
        %h4
          Help us develop
        %ul
          %li
            %a{:href => 'https://gitlab.com/jacob-dawid/foss.buzz', :target => '_blank'}
              FOSS.buzz source code

    .footer__column.col-md-12.col-lg-4
      .footer__card
        %h4
          Further Links
        %ul
          %li
            %a{:href => 'http://www.gnu.org/licenses/', :target => '_blank'}
              Free software licenses
  .row
    .footer__column
      Copyright 2016 FOSS.buzz Developers
