.passwordChange
  .authform.formBlock
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, 'New password'
        = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control'
        = f.label :password_confirmation, 'Confirm new password'
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      = f.submit 'Change my Password', :class => 'btn btn-primary'
