.signin
  .authform.formBlock
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'e-mail'
      .form-group
        = f.password_field :password, class: 'form-control', placeholder: 'password'
      - if devise_mapping.rememberable?
        .form-group
          .checkbox{:style => "width:150px"}
            %label
              = f.check_box :remember_me
              Remember me

      = f.submit 'Sign in', :class => 'btn btn-primary'

      - if devise_mapping.registerable?
        = link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-default'
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-default'
