.signup
  .authform.formBlock
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'e-mail address'
      .form-group
        = f.password_field :password, class: 'form-control', placeholder: 'password'
      .form-group
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm password'
      = f.submit 'Sign up', :class => 'btn btn-primary'
