.teaserHeader.container
  .teaserHeader__mottoBox
    .row
      Build tomorrow.
    .row
      = link_to 'Sign up today', new_user_registration_path, class: 'btn btn-primary'
  .teaserHeader__slogan
    Together we will change the way free open source software is being developed.
