.testimonials.container-fluid
  .row
    .testimonials__testimonial.col-md-12.col-lg-4
      .testimonials__card
        .testimonials__citation
          "When I first heard about FOSS.buzz I knew this will be definately a big thing, regardless of any further details."
        .testimonials__portrait.testimonials__portrait--first
        .testimonials__author
          Peter Guy
          %br
          %small
            — GNU Developer

    .testimonials__testimonial.hidden-md-down.col-md-12.col-lg-4
      .testimonials__card
        .testimonials__citation
          "Free software has always proven to be the way to go. FOSS.buzz is the answer to commercial free software."
        .testimonials__portrait.testimonials__portrait--second
        .testimonials__author
          Peter Guy
          %br
          %small
            — GNU Developer

    .testimonials__testimonial.hidden-md-down.col-md-12.col-lg-4
      .testimonials__card
        .testimonials__citation
          "For a long time, making money purely with open source software was extemely difficult. And that changes now radically."

        .testimonials__portrait.testimonials__portrait--third
        .testimonials__author
          Peter Guy
          %br
          %small
            — GNU Developer
