// import the CSS framework
@import bootstrap-sprockets
@import bootstrap

body
  background: $gray-darker

.navbar
  width: 1380px
  margin: 0 auto

// make all images responsive by default
img
  @extend .img-responsive
  margin: 0 auto

// override for the 'Home' navigation link
.navbar-brand
  font-size: inherit

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column
  @extend .col-md-6
  @extend .text-center

.form
  @extend .col-md-6

.form-centered
  @extend .col-md-6
  @extend .text-center

.submit
  @extend .btn
  @extend .btn-primary
  @extend .btn-lg

// apply styles to HTML elements
// to make views framework-neutral
main
  @extend .container
  background-color: #eee
  padding-bottom: 80px
  width: 100%
  margin-top: 51px
  // accommodate the navbar

section
  @extend .row
  margin-top: 20px

.container
  width: 100%

.alert
  position: fixed
  left: 0
  right: 0
  top: $grid-gutter-width
  width: 320px
  margin: 0 auto
  display: block
  z-index: 999999
