+block(footer)
  background-color: rgba(black, 0.2)
  color: $gray-light

  ul
    list-style: none
    padding: 0

  +element(column)
    padding: $grid-gutter-width
    text-align: center

  +element(card)
    position: relative
    padding: $grid-gutter-width
    background-color: $gray-darker
    width: 100%
