+block(teaserHeader)
  display: block
  position: relative
  width: 100%
  height: $grid-gutter-width * 20
  background: asset_url('hands_keyboard')
  background-size: cover
  color: white
  text-align: center
  min-width: 320px
  text-shadow: 0 0 3px black

  +element(mottoBox)
    font-size: 44px
    margin-top: $grid-gutter-width

  +element(slogan)
    position: absolute
    left: 0
    right: 0
    font-size: 18px
    bottom: 0
    padding: $grid-gutter-width
    background: rgba(black, 0.3)
