+block(testimonials)
  display: block
  width: 100%
  min-width: 320px

  +element(testimonial)
    padding: $grid-gutter-width

  +element(card)
    position: relative
    background-color: white
    width: 100%
    height: $grid-gutter-width * 8
    box-shadow: 0 0 0 5px $gray-light inset

    &:before
      width: 0
      height: 0
      position: absolute
      right: 0
      top: $grid-gutter-width * 2.5
      border: $grid-gutter-width * 2 solid transparent
      border-color: transparent $gray-light $gray-lighter transparent
      content: ' '
      transform: translateY(-50%)

    &:after
      width: 0
      height: 0
      position: absolute
      right: 0
      top: $grid-gutter-width * 2.5
      border: $grid-gutter-width solid transparent
      border-color: transparent $gray-darker transparent transparent
      content: ' '
      transform: translateY(-50%)

  +element(citation)
    display: block
    position: absolute
    left: 0
    bottom: 0
    right: 0
    font-style: italic
    font-size: 16px
    padding: 20px
    height: 105px
    background: $gray-lighter

  +element(portrait)
    display: block
    position: absolute
    left: $grid-gutter-width
    top: $grid-gutter-width
    width: $grid-gutter-width * 3
    height: $grid-gutter-width * 3
    background: $gray-light
    background-size: cover
    box-shadow: 0 0 10px 0 $gray-light inset
    border-radius: $grid-gutter-width * 3

    +modifier(first)
      background-image: asset_url('testimonial_portrait1')
    +modifier(second)
      background-image: asset_url('testimonial_portrait1')
    +modifier(third)
      background-image: asset_url('testimonial_portrait1')

  +element(author)
    position: absolute
    left: $grid-gutter-width * 4
    right: $grid-gutter-width * 4
    text-align: center
    top: $grid-gutter-width
    font-size: 20px

    small
      font-size: 12px
