!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "FOSS.buzz"
      %meta{:content => content_for?(:description) ? yield(:description) : "FOSS.buzz", :name => "description"}
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = csrf_meta_tags
  %body.layout
    %header
      = render 'layouts/navigation'
    %main.layout__contentArea{:role => "main"}
      = render 'layouts/messages'
      = yield
      = render 'shared/footer'
